/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.filtres {
    font-weight: 600;
}

.containerFiltre-wrapper {
    flex-direction: row;
    align-items: center; /* Aligne verticalement .filtres et les boutons */
    gap: 20px; /* Espacement entre .filtres et .containerFiltre */
    padding-bottom: 20px;
}

.containerFiltre {
    gap: 20px;
    padding-bottom: 0px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    overflow: hidden;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* ********** Header ************* */

.liensHeader {
    display: flex;
}

.navHeader {
    align-items: center;
    justify-content: space-between;
}

.liensHeader a {
    text-decoration: none;
    text-align: center;
    color: inherit;
    position: relative; nécessaire pour le placement du ::after
  }

  .liensHeader ul {
    list-style: none;
  }

  .liensHeader ul li {
    display: inline;
  }

.logo,
img {
    width: 60px;
}

/* ********** Main ************* */

h1 {
    font-size: x-large;
    margin-bottom: -5px;
}

/* ********** Barre de recherche ************* */

.fa-location-dot {
    background-color: #F2F2F2;
    color: black;
    height: 40px;
    width: 30px;
    border-radius: 10px 0px 0px 10px;
    border-color: #F2F2F2;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}

button {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    border-color: #0065FC;
    height: 40px;
    width: 110px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-bottom: none;
    border-right: none;
 }

.barreDeRecherche,
input {
    font-weight: 600;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-left: none;
    border-right: none;
}

input, 
#rechercher {
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
}

.barreDeRecherche,
.fa-location-dot{
display: flex;
border-collapse: collapse;
align-items: center;
}

::placeholder {
    color: black;
}

button,
    .fa-magnifying-glass {
        color: white;
}

/* ********** Filtres ************* */

.containerFiltre button {
    display: flex;
    background-color: white;
    border: 2px solid #D9D9D9;
    height: 40px;
    width: 150px;
    border-radius: 30px;
    color: black;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.containerFiltre button:hover {
background-color: #DEEBFF;
}

.info{
    margin-bottom: 1.5rem;
    font-size: normal;
    font-weight: 100;
    display: flex;
    align-items: center;
    gap: 10px; /* Ajuste l'espacement entre l'icône et le texte */
}

/* Création de la bordure ronde autour de l'icône "i" */

.info i{ 
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px; /* Taille du cercle */
    height: 15px; /* Taille du cercle */
    color: #0065FC; /* Couleur de l'icône */
    font-size: 10px; /* Taille de l'icône */
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    /* border-radius: 20px; */
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: grid;
    gap: 16px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hebergements-cards img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: auto;
    height: auto;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    white-space: nowrap; /* Empêche le passage à la ligne */
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    white-space: nowrap; /* Empêche le passage à la ligne */
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.afficherPlus {
        padding-top: 30px;
        font-size: large;
}

/****** Populaires ***********/

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 13px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/ 

.activites {
    margin-top: 30px;
}

.activites-cards img {
    width: 100%;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
 
.activites-cards {
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Permet aux cartes de s'ajuster en fonction de l'espace disponible */
     gap: 16px;
}
 
.activites-cards .card-title {
     white-space: nowrap; 
     margin: 5px;
     max-height: 40px;
}
 
.activites-cards .card {
     display: flex;
     flex-direction: column;
     padding: 0px;
     margin-top: 33px;
     max-width: 100%;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
 
.activites-cards .card-content {
     height: 50px;
     display: flex;
     padding-left: 15px;
     flex-direction: column;
     justify-content: space-between;
     box-sizing: border-box;
}
 
.activites .card-content {
    justify-content: center;
}

/********** Footer **********/
 
.footer-container {
     /* margin: 10px;
     padding-left: 15px; */
     background-color: var(--main-bg-color);
     display: flex;
     overflow: hidden; /* Évite les débordements */
     justify-content: space-between; /* Équilibre l'espace entre les items */
     align-items: flex-start; /* Aligne les items en haut */
     flex-wrap: wrap; /* Permet aux items de passer sur une nouvelle ligne si nécessaire */
     box-sizing: border-box;
}
 
.footer-item {
    flex: 1; /* Permet aux items de se répartir l'espace */
    margin: 0 10px; /* Ajoute un espace horizontal entre les items */
    box-sizing: border-box;
}
 
.footer-item ul {
     padding-left: 0; /* Supprime l'espace par défaut du padding */
     margin-left: 0; /* Supprime également l'espace par défaut du margin si nécessaire */
     list-style-type: none; /* Enlève les puces si besoin */
    }

.footer-item ul li {
    padding-bottom: 20px;
}
 
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {

    /* *** Header *** */

    .logo {
        margin: 0 auto; /* Centre horizontalement */
        padding-top: 25px;
        padding-bottom: 15px;
    }

    .liensHeader ul {
        display: flex;
        padding: 0;
        margin: 0;
        width: 100%; Prend toute la largeur de l'écran
    } 

    .liensHeader ul li {
        flex: 1;
        text-align: center;
        border-bottom: solid 2px #D9D9D9;
    }

    .liensHeader ul li a {
        display: block;
        padding: 20px;
    }

    .liensHeader a:hover {
        color: #0065FC;
    }

    .liensHeader ul li:hover {
        border-bottom-color: #0065FC; /* Change la couleur de la bordure au survol */
    }

/* *** Main *** */

    .main-container {
        padding: 0;
    }

    h1 {
        padding-top: 20px;
    }
    
    /* *** Barre de recherche *** */

    .barreDeRecherche {
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
     }
 
     .barreDeRecherche input {
         padding-left: 25%;
         padding-right: 25%;
     }   

    #bouton-rechercher {
        display: none;
    }

    #bouton-magnifying-glass {
         width: 50px;   
         border-radius: 10px 10px 10px 10px;
         display: block;
    }

 /* *** Filtres *** */

    .containerFiltre {
        padding-top: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .filtres {
        padding-left: 15px;
    }

    .info {
        padding: 10px;
    }

    .info-message {
        flex-direction: column; /* Aligne l'icône et le texte en colonne */
        align-items: flex-start; Aligne le texte à gauche
    }

    /* *** Populaires *** */

    .populaires {
        width: 100%;
    }

    .populaires-title {
        margin-bottom: 15px;
        margin-top: 5px;
    }

    .populaires-cards img {
        width: 35%;
        height: ;
    }

    .populaires-cards .card {
        margin-bottom: 20px;
    }

/* *** Hebergement et Populaires *** */

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 25px;
    }

/* *** Hebergements *** */

    section.hebergements {
        width: 100%;
        background-color: white;
        padding-top: 20px;
    }

    .hebergements .section-title {
        margin-bottom: 15px;
    }

    .hebergements-cards {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .hebergements-cards .card {
        margin-top: 5px;
    }

    .afficherPlus {
        padding: 20px;
        padding-left: 0px;
    }
   
/* *** Activites *** */

    section.activites {
        margin: 30px;
        padding-bottom: 30px;
    }

    .activites .card-content {
        justify-content: center;
    }

    .activites-cards img {
        height: 130px;
    }

    .activites-cards .card {
        margin-top: 20px;
    }

    .activites .section-title {
        padding-bottom: 20px;
    }

/* *** Footer *** */

    .footer-container {
        display: flex;
        flex-direction: column;
    }

    .footer-item {
        margin-top: 15px;
        margin-left: 30px;
        margin-bottom: 15px;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */

@media (min-width: 768px) {
    .liensHeader a:hover {
        text-decoration: overline !important;
        color: #0065FC;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    /* *** Header *** */

    .navHeader {
        display: flex;
    }

    .liensHeader {
        padding-bottom: 30px;
    }

    .liensHeader ul li a {
        padding: 10px 10px;
    }  

    /* *** Barre de recherche *** */

    #bouton-magnifying-glass {
        display: none;
    }

    /* *** Filtres *** */

    .containerFiltre {
        display: flex;
        flex-direction: row;
        align-items: center; /* Aligne verticalement .filtres et les boutons */
        gap: 20px; /* Espacement entre .filtres et .containerFiltre */
    }

    .containerFiltre-wrapper {
        display: flex;
        padding-left: 15px;
    }

/* *** Hebergements et Populaires *** */

    .hebergements-and-populaires {
        flex-direction: column;
        width: 100%;
    }

    .hebergements-and-populaires section {
        border-radius: 20px;
    }

/* *** Populaires *** */

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(3, 1fr); /* 4 colonnes */ 
    }

/* *** Hebergements *** */

    .hebergements {
        width: auto;
    }

    .hebergements-cards {
        grid-template-columns: repeat(3, 1fr);
      }
  
    .hebergements-cards .card {
          max-width: 400px;
    }

/* *** Activites *** */

    .activites {
      padding-left: 25px;
      padding-right: 25px;
    }

    .activites-cards {
        grid-template-columns: repeat(4,1fr); /* 4 colonnes */ 
        width: 100%;  
        display: grid;
    }

    .activites-cards img {
        height: 200px;
    }

    .activites-cards .card {
        max-height: 300px;
    }

    .activites-cards .card-title {
        white-space: initial;
    }
}

/* ********* Desktop ********* */

@media (min-width: 1024px) and (max-width: 1900px) {

/* *** Header *** */

    .liensHeader {
        padding-bottom: 30px;
    }
            
    .navHeader {
        display: flex;
    }

    .liensHeader ul li a {
        padding: 10px 10px;
    }
    
/* *** Filtres *** */

    .containerFiltre-wrapper {
        display: flex;
    }

    #bouton-magnifying-glass {
        display: none;
    }
    
    #bouton-magnifying-glass {
        display: none;
    }

    .containerFiltre {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

   /* *** Hebergements & Populaires *** */

    .hebergements-and-populaires {
        display: flex;
    }

    .hebergements-and-populaires section {
        border-radius: 20px;
    }

/* *** Hebergements *** */

     .hebergements-cards {
        grid-template-columns: repeat(3, 1fr);
    }
  
    .hebergements-cards .card {
        max-width: 380px;
    }

/* *** Populaires *** */

    .populaires {
        width: 32%;
    }

    .populaires-cards {
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        max-height: 200px; /* Ajustez la hauteur selon vos besoins */
        overflow: hidden;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

/* *** Activites *** */

    .activites {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 40px;
      }

    .activites-cards {
        grid-template-columns: repeat(4, 1fr); /* 4 colonnes */   
        display: grid;
    }
}

/* *** Desktop > 1440px *** */

/* Applique une marge blanche de chaque côté pour les écrans larges */
body {
    margin: 0;
    padding: 0;
}

/* Conteneur principal pour limiter le contenu à 1440px */
.main-container {
    max-width: 1440px;
    margin: 0 auto; /* Centre le conteneur */
    padding: 0 20px; /* Optionnel : ajoute un padding pour les petits espaces latéraux */
    box-sizing: border-box; /* Assure que le padding ne s'ajoute pas à la largeur totale */
}